*.gb
/frames/
obj/
/badapple/*
*.obj*.sym
*.sym
*.o
*.ihx
*.map
*.noi
*.lst
*.gbc
/tiles/
__pycache__
*.sav
*.bin
*.zip
/node_modules/
/outputs/
/processed/
/midi/
/gb-link-cable/
fp-info-cache
/gb-old/
/videos/*
*.mov